.contect-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    justify-content: center;
}

#title {
    margin-top: 20px;
    font-size: 25px;
    color: #e09a32;
}