<div class="menu-container">
    <div class="menu-item">
        <button [routerLink]="['/new']" mat-fab color="primary" aria-label="Example icon button with a delete icon ">
         <mat-icon>library_add</mat-icon>
      </button>
        <span>New</span>
    </div>
    <div class="menu-item">
        <button [routerLink]="['/show-note']" mat-fab color="primary" aria-label="Example icon button with a delete icon ">
       <mat-icon>local_library</mat-icon>
    </button>
        <span>See Notes</span>
    </div>
</div>